{{!-- <footer class="footer">
  <div class="container">
    <p class="text-muted text-center">ALL IMAGES ARE COPYRIGHTED AND NOT TO BE DUPLICATED WITHOUT CONSENT</p>
  </div>
</footer> --}}

<footer id="partialFooter">
    <p>© 2017  <a style="color:#FFB20B; text-decoration:none;" href="http://Facebook.com/pickleballrockers">  Pickleball Rockers</a>, All images Copyright (c). Not to be duplicated without consent</p>
</footer>