{{!-- <footer class="footer">
  <div class="container">
    <p class="text-muted text-center">ALL IMAGES ARE COPYRIGHTED AND NOT TO BE DUPLICATED WITHOUT CONSENT</p>
  </div>
</footer> --}}

<footer id="partialFooter">
    <p>© 2016  <a style="color:#FFB20B; text-decoration:none;" href="https://stt.wiki" target="_blank">  Star Trek Timelines</a>, All Images Copyright. Not to be duplicated without consent</p>
</footer>