{{> nav}}

	<div id="homeBackdrop">
    <div class="container">

      <br>
      <br>

      <div class="container">
        <div class="row">
          <img src="https://cdn.discordapp.com/attachments/349603929841074178/667464005018714142/image0.jpg" alt="">
          <br>
          <br>
          <br>
        	<button class="btn btn-primary" id="btnContactUs">Start Cycle</button>
        </div>
      </div>
    </div>
  </div>

{{> footer}}





