{{> nav}}

<img src="../public/images/starbase.jpeg" id="bg" alt="">

<div class="container">

    <div class="row" id="content_start">
        <div class="col col-sm-6"></div>
        <div class="col col-sm-6">
          <img src="https://cdn.discordapp.com/attachments/349603929841074178/667464005018714142/image0.jpg" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col col-sm-6"></div>
        <div class="col col-sm-6">
          <button class="btn btn-primary" id="btnContactUs">Start Cycle</button>
          <br>      
        </div>
    </div>
  
<br><br><br><br><br><br><br>

    <div class="row">
        <div class="col col-sm-6"></div>
        <div class="col col-sm-6">
          <button class="btn btn-primary" id="btnContactUs">Warp Dabo</button>
          <br>      
        </div>
    </div>    
 
 <br>

     <div class="row">
        <div class="col col-sm-6"></div>
        <div class="col col-sm-6">
          <button class="btn btn-primary" id="btnContactUs">Warp Cadet</button>
          <br>      
        </div>
    </div>    

  <br>

    <div class="row">
        <div class="col col-sm-6"></div>
        <div class="col col-sm-6">
          <button class="btn btn-primary" id="btnContactUs">Warp 2x</button>
          <br>      
        </div>
    </div>    
 
 <br>

     <div class="row">
        <div class="col col-sm-6"></div>
        <div class="col col-sm-6">
          <button class="btn btn-primary" id="btnContactUs">Warp 1x</button>
          <br>      
        </div>
    </div> 

</div>










