{{> nav}}

<img src="../public/images/starbase.jpeg" id="bg" alt="">

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <br><br><br><br>
      <h1 class="text-right" style="color: #fff; margin-right:10%">Coming Soon!</h1>
      <br>
      <p class="text-right" style="color: #fff; margin-left:45%">Something like... type number ranges and crit chance and output your chance to win</p>

    </div>
  </div>
</div>






