{{> nav}}

<div id="homeBackdrop">

  <div id="home1">
    <br><br>
    <img class="home-img" src="../public/images/LargeLogoNav.png" alt="">
  </div>

  <div id="home2" style="display:none;">
  {{!-- <div id="home2"> --}}
    <div id="arcRow" class="row">
      <h2 id="topArc" class="col-xs-offset-4 col-xs-4 yellowLetters">Custom Designed Logos,</h2>
      <h2 id="bottomArc" class="col-xs-offset-4 col-xs-4 yellowLetters">Paddles, Tshirts & Jewelry</h2>
    </div>

    <div class="row">
        <div id="ballWrapper">
          <div id="ball"></div>
          <div id="ballShadow"></div>     
        </div>
    </div>

    <div id="homeInfoSection" class="row">
      <h4 class="text-center homeInfo col-xs-offset-1 col-xs-3">Create your own embroidered shirt or screen printed paddle using one of our customized logos</h2>
      <h4 class="text-center homeInfo col-xs-offset-4 col-xs-3">Don't see your logo?</h2>      
      <h4 class="text-center homeInfo col-xs-offset-4 col-xs-3">We'll design it!</h2>      
    </div>

    <div id="homeButtonSection" class="row">
      <a class="btn btn-warning col-xs-offset-1 col-xs-3 homebtns" href="/logos">Shop Custom Logos</a>
      <a class="btn btn-warning col-xs-offset-4 col-xs-3 homebtns" href="/products">Shop Paddles & Moisture Wicking Shirts</a>
    </div>

{{!--     <footer style="color:white;" class="text-center">NEW CUSTOMERS TAKE 15% OFF</footer><br>
    <footer style="color:white;" class="text-center">© 2017 Pickleball Rockers, All images Copyright (c). Not to be duplicated without consent</footer> --}}

  </div>


</div>

{{!-- {{> footer}} --}}
